.mainpageContainer{
    width: 100vw;
    height: 100vh;
    padding-left: 30%;
    padding-right: 30%;
}

.imageContainer{
    position: relative;  
    width: 100%;
    height: 100%;
    transition: transform 0.4s ease;
}
.imageContainer:hover {
    transform: scale(1.1);
}

.gridImage {
    width: 100%;
    height: 100%;
    display: block;
    transition: transform 0.4s ease;
}


.imageTitleOverlayBackground{
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 18%;
    display: flex;
    align-items: center; 
    z-index: 2;
}

.imageGRIDTitleOverlayText{
    padding:5%;
    color: rgb(255, 255, 255);
    font-family: Italiana;
    z-index: 1;
    font-size: 120%;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    
}
